.container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    position: relative;
    box-sizing: border-box;
}

.head {
    position: sticky;
    top: 0;

    height: 55px;

    background-color: #F7F9FC;
    border-bottom: 1px solid #E9EDF5;

    display: flex;
    padding-left: 8px;

    align-items: center;
}

.spacer {
    flex-grow: 1;
}

.profilePic {
    border-radius: 20px;
    height: 40px;
    width: 40px;

    margin-right: 20px;
    cursor: pointer;
}

.headLink {
    text-decoration: none;
    color: var(--g-color-text-primary);
}

.children {
    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
}