.main {
    font-size: 20px;
    width: 80%;
    margin-top: 3vh;
}

.cellId {
    width: 5%;
}

.cellNameCourse {
    width: 25%;
}

.cellPassed .cellExtern {
    width: 15%;
}

.cellTeacher {
    width: 20%;

}

.cellAssessment {
    width: 10%
}



