.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin: 20px 15px;
}

.detail {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.teacher {
    display: flex;
    gap: 5px;

    align-items: center;
}

.label {
    opacity: 0.6;
}

.value {
    display: flex;
}

.requisites {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.requisites a {
    text-decoration: none;
}