.header {
    height: 6vh;
    background-color: #F7F9FC;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
    padding-right: 1vw;
}

.heading {
    font-size: 32px;
    text-align: center;
}